.push {
    position: relative;
    top: 15vh;
}

.line {
    position: relative;
    height: 1vh;
    width: 52vw;
    background-color: #000000;
    font-family: Poppins;
    color: white;
    align-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.list-header {
    position: relative;
    left: 24vw;
    text-align: center;
    font-size: 2rem;
    font-family: Poppins;
}

.location {
    position: relative;
    margin-left: 25.5vw;
}

.new-listing-button {
    font-family: Poppins;
    background-color: #510104;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.25rem;
    padding: 16px 24px;
    margin-top: 4vh;
    left: 23.25vw;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.new-listing-button:hover {
    background-color: #750107;
}

/* Popup Styles */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Poppins;
    position: relative;
}

.popup-content h2 {
    margin-bottom: 10px;
    font-size: 1.75rem;
}

.popup-content p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.popup-content button {
    background: #510104;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s;
}

.popup-content button:hover {
    background: #750107;
}

.input-overlay {
    position: relative;
    font-family: Poppins;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}

.overlay-button {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-top: 1rem;
}

.listings-empty-error {
    text-align: center;
    font-family: Poppins;
}

