@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
.opening {
    width: 100vw;
    margin-left: -8px;
    margin-top: -8px;
    height: 100vh;
    position: absolute;
    background-color:  #ffffff !important;
}
.header{
    font-family: Poppins;
    font-size: 5rem;
    position: absolute;
    top: 15vh;
    left: 10vw;
    font-weight: 500;
}
.logo {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    margin-top: 6vh;
    margin-left: 3vw;
    width: 100vw;
  }
  
  .logo-content {
    display: flex;
    align-items: center;
    position: fixed;
    font-family: "Saira Stencil One";
    font-size: 3rem;
    color: black;
    margin-top: -1vh;
  }
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
  .logo-content svg {
    margin-right: 10px; /* Adjust the spacing as needed */
}
img{
    z-index: 5;
    top: 45vh;
    position: absolute;
    width: 35vh;
}
.utd{
    left: 8.5vw;
}
.atm{
    left: 38.5vw;
}
.unt{
    left: 70vw;
}
.menuBar{
    width: 100vw;
    top: 0;
    left: 0;
    height: 12vh;
    background: #a48a8b;
    position: fixed;
    z-index: 9999999;
}
a:active{
    color: black;
}
a{
    color: black;
    text-decoration: none;
}