.box {
    position: relative;
    padding: 20px;
    width: 50vw;
    background-color: #510104;
    font-family: Poppins;
    color: white;
    align-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
}
.center {
    margin: auto;
    margin-bottom: 10px;
}

.align-end {
    margin-left: 32vw;
}